.body_div{
  background-color: #1d2533;

}
.home-main-content {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(rgba(52,41,49,0.8), rgba(26, 33, 74, 0.8)), url('../../../assets/img/onepiecehome.jpg') no-repeat bottom;
    background-size: cover;
    font-size: 4rem;
  }

  .movies__container, .shows__container {
    margin: 2rem 0;
    position: relative;
  }

  .movie {
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
   overflow: hidden;
}

.movie__hero {
  flex: 0 0 45%;
}

.movie__img {
    //width: 100%;
    display: block;
    height: 250px;
    width: 200px;
}

.movie__content {
    background-color: #fff;
    flex: 1;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.movie__price {
    background:linear-gradient(to bottom, #A9C9FF 0%, #FFBBEC 100%);
    flex: 0 0 50px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.movie_sinopsis{
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie_row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading__primary {
  display: flex;
  align-items: center;
    font-size: 18px;
    margin-right: auto;
    color: rgb(2, 10, 32);
}

.fa-fire {
    color: salmon;
}

.movie__tag {
    font-size: 10px;
    color: #fff;
  padding: 2px 7px;
  border-radius: 100px;
  margin-right: 8px;
  display: block;
  text-transform: uppercase;

}

.movie__tag--1 {
  background-color: #A9C9FF;
}

.movie__tag--2 {
    background-color:#FFBBEC;
}

.movie__description {
    font-size: 14px;
}

.movie__details {
    display: flex;
    margin: auto;
}

.movie__detail {
   font-size: 13px;
   margin-right: 20px;
   display: flex;
   align-items: center;
}

.icons i {
    margin-right: 3px;
    font-size: 18px;
}

.icons-red {
    color: salmon;
}
.icons-grey {
    color: grey;
}

.icons-yellow {
    color: rgb(190, 190, 71);

}