<div class="body_div">
<section class="home-main-content">
    Personajes
</section>


<!--  <div class="container">
    <section class="movies__container">
      <div *ngFor="let item of listaPersonajes;let i=index" class="card" style="width: 18rem;">
        <img class="card-img-top" src={{item.character.images.jpg.image_url}} alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{item.character.name}}</p>
   
        </div>
      </div>
    </section>
  </div> -->

  <div class="container">
    <section class="movies__container">
      <div class="row">
        <div class="col-sm-6" *ngFor="let item of listaPersonajes;let i=index">
          <div class="card">
            <figure class="movie">
              <div class="movie__hero">
                <img src={{item.character.images.jpg.image_url}} class="movie__img">
              </div>
              <div class="movie__content">
                <div class="movie__title">
                  <h1 class="heading__primary">{{item.character.name}} <i class="fas fa-fire"></i></h1>
                </div>

                <div class="movie__details">
                 <!--  <p class="movie__detail"><span class="icons icons-red"><i class="fas fa-camera-retro"></i>
                    </span>{{item.status}}</p>
                  <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i>
                    </span>{{item.duration}}</p> -->
                </div>
                <div class="movie_sinopsis">
                  <div ngbAccordion #accordion="ngbAccordion">
                    <div ngbAccordionItem="first">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Leer Sinopsis</button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <p class="movie__description">
                              {{item.synopsis}}
                            </p>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="movie_row">
                    <button type="button" (click)="listarDatosPersonaje(item.character.mal_id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Saber mas...
                      </button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Recipient:</label>
                              <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Message:</label>
                              <textarea class="form-control" id="message-text"></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                      </div>
                    </div>
                  </div>


              </div>
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

