<div class="body_div">
  <section class="home-main-content">
    One Piece
  </section>

  <!--   <div class="container">
      <section class="movies__container">
        <div *ngFor="let item of listaPeliculas2;let i=index" class="card" style="width: 18rem;">
          <img class="card-img-top" src={{item.images.jpg.image_url}} alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{item.title}}</p>
            <button (click)="verPersonajes(item.mal_id)">personajes</button>
          </div>
        </div>
      </section>
    </div> -->

  <div class="container">
    <section class="movies__container">
      <div class="row">
        <div class="col-sm-6" *ngFor="let item of listaPeliculas2;let i=index">
          <div class="card">
            <figure class="movie">
              <div class="movie__hero">
                <img src={{item.images.jpg.image_url}} class="movie__img">
              </div>
              <div class="movie__content">
                <div class="movie__title">
                  <h1 class="heading__primary">{{item.title}} <i class="fas fa-fire"></i></h1>
                </div>

                <div class="movie__details">
                  <p class="movie__detail"><span class="icons icons-red"><i class="fas fa-camera-retro"></i>
                    </span>{{item.type}}</p>
                  <p class="movie__detail"><span class="icons icons-red"><i class="fas fa-camera-retro"></i>
                    </span>{{item.status}}</p>
                  <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i>
                    </span>{{item.duration}}</p>
                </div>
                <div class="movie_sinopsis">
                  <div ngbAccordion #accordion="ngbAccordion">
                    <div ngbAccordionItem="first">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Leer Sinopsis</button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          <ng-template>
                            <p class="movie__description">
                              {{item.synopsis}}
                            </p>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="movie_row">
                  <button type="button" class="btn btn-outline-secondary me-2" placement="top"
                    ngbTooltip="Tooltip on top">
                    Trailer
                  </button>
                  <button type="button" class="btn btn-outline-secondary me-2" placement="end"
                    ngbTooltip="Tooltip on right" (click)="verPersonajes(item.mal_id)">
                    Personajes
                  </button>
                </div>


              </div>
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>